html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 100%;

}

.map-page {
  display: flex;
}

.map-card {
  width: 80%;
  margin: 16px;
  justify-content: space-between;
}

.map-canvas {
  height: 100%;
  width: 100%;
}

.map-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.configuration-card {
  margin: 16px;
}

.configuration-panel {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.address-form {
  
}

.adress-options {
  max-height: 40%;
}
